@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Responsive/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/main/home.css" />
    <style>
        .mark {
            background-color:white;
            height:2000px;
        }
        #logo {
            content: url(/Images/logo.png);
        }

        .space {
            height:50px;
        }
        .hehe {
            background-color:red;
        }
        .aris {
            background-color:blue;
        }
    </style>
</head>
<body>
    hello

</body>
</html>
